h3 {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);

    padding: 5px 22px;
    border: 1px solid rgb(255, 255, 255);

    border-radius: 10px 10px 0 0;
    margin: 20px auto 0px;
    background-color: rgba(255, 166, 0, 0.925);
    box-sizing: 10px 10px 5px rgba(53, 7, 95, 0.7);

}

td {
    color: white;
}

form {
    font-family: verdana;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);

    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 5px rgba(11, 36, 32, 0.7);

}

/* borang login */
form.pendek,
h3.pendek {
    width: 250px;
}

/* borang selain login*/
form.panjang,
h3.panjang {
    width: 330px;
}

/* camtumkan sekali*/
input[type="text"],
input[type="password"],
select {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

table {
    font-family: verdana;
    font-size: 12px;
}